body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
        .container {
            font-family: sans-serif;
    color: #7d7b7b;
    color: #6b2525;
    padding-top: 60px;
    background-color: rgb(255, 250, 203);
    border-color: #1b1b19;
    padding-left: 20px;
    padding-right: 20px;
    }
    